<template>
    <div class="test">
        
    </div>
</template>

<script>
export default {
  data() {
    return {
      a: "a",
      b: "b",
    };
  },
  created() {
    this.$log.debug("test", this.a, 123);
    this.$log.info("test", this.b);
    this.$log.warn("test");
    this.$log.error("test");
    this.$log.fatal("test");
    externalFunction();
  },
  methods: {
    externalFunction() {
      // log from external function
      this.$log.debug("log from function outside component.");
    },
  },
};
</script>

<style></style>
